@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&family=Lato:wght@700&display=swap');


/* paramettres globaux */
* {margin: 0; padding: 0;}

main{
  background-color: #24252A;
}
/* paramettre globaux */

header {
  background-color: #1B1C20;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10%;
}

/* nav bar */

.logo {
  cursor: pointer;
  margin-right: auto;
  font-size:20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo p{
font-size:20px;
font-family: 'Bungee Spice';
}

.CultureText{
  text-align: center;
  font-family: 'Bungee Spice';
  font-weight: 700;
  font-size: 64px;
  color : #fff;
}
.CultureText{
  transition: all 0.4s ease 0s;
}
.CultureText:hover {
  color:#E5AF17;
}

.nav{
  list-style: none;
  padding: 0px 20px;
}

.home-nav a{
  color: #808080;
}

li, a , button{
    margin: 0 10px 0 10px;
    text-decoration: none;
    display: inline;
    font-family: 'Bungee Spice';
    font-style: normal;
    color : #fff;
    font-weight: 400;
    font-size: 25px;
}

.Home{
  color: #808080;
}

.nav li a {
  transition: all 0.2s ease 0s;
}

.nav li a:hover{
  color: #E5AF17;
}

button {
    box-sizing: border-box;
    border: 2px solid #E5AF17;
    border-radius: 12px;
    padding: 7px 15px;
}

.button-contact :hover{
  background-color: #E5AF17;
}

button {
    background-color: #1B1C20;
    cursor: pointer;
    transition:  all 0.3s ease 0s;
  }

/* nav bar */

/* Landing */
.main{
  display: flex;
  align-items: center;
  text-align: center;
  background: url("images/BackgroundAccueil.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main--landing{
  position: relative;
  width: 100%;
  height: 92vh;
  display:block;
}

.Cercle {
  position: relative;
  position: absolute;
  width: 100%;
  max-width: 660px;
  bottom: 50px;
  left: 50%;
  transform:translateX(-50%);
}

.gif {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  bottom: 25px;
  left: 50%;
  transform:translate(-50%,0);
}

/* Video */

.VideoTexte {
  font-family: 'Bungee Spice';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #E5AF17;
  padding-top: 20px;
  padding-bottom: 20px;
}

.VideoTexte2 {
  font-family: 'Bungee Spice';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #fff;
  padding-top: 80px;
}

.video{
  padding-top: 50px;
  text-align: center;
  background-color: #1B1C20;
}

.video-details{
  width: 100%;
  height: 900px;
}

/* Block 1 */

.block-theatre{
  display: flex;
  width: 100%;
  height: 86vh;
  background-color: #24252A;
}

.RectangleOr{
  position: absolute;
  margin: 100px;
  background-color: #E5AF17;
  width: 650px;
  height: 594px;
}


.theatre{
  position: relative;
  max-width: 790px;
  max-height: 592px;
  margin: 150px 0 0 150px;
}

.RectangleText1 {
  position: absolute;
  margin: 100px;
  width: 818px;
  height: 645px;
  z-index: 1;
}

.Icon-theatre {
  float:right;
  margin-right: 50px;
}

.h1-theatre{
  width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}

.p-theatre {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
  width: 550px;
  color: #808080;
  margin-bottom: 10px;
}

.block-text {
  padding: 25vh 0 0 190px;
  font-family: 'Bungee Spice';
  color: white;
  z-index: 2;
}

.block-text .block-btn{
  box-sizing: border-box;
  border: 2px solid #E5AF17;
  border-radius: 12px;
  padding: 5px 70px;
  margin-top: 20px;
  margin-left: 0px;
}


.block-btn:hover{
  background-color: #E5AF17;
}


.block-cinema {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.RectangleOr2{
  position: absolute;
  background-color: #E5AF17;
  width: 1903px;
  height: 1027px;
}

.cinema{
  position: relative;
  max-width: 773px;
  max-height: 1167px;
  margin: -70px 0 0 1000px;
  z-index: 2;
}

.RectangleText2 {
  position:absolute;
  margin: 100px;
  width: 948.79px;
  height: 817px;
  left: -47px;
}

.RectangleOr{
  position: absolute;
  margin: 100px;
  background-color: #E5AF17;
  width: 650px;
  height: 594px;
}

.theatre{
  position: relative;
  max-width: 790px;
  max-height: 592px;
  margin: 150px 0 0 150px;
}
